.mainbody {
  width: 100%;
  height: calc(100% - 52px);
  margin-top: 52px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0 var(--padding);
  padding-top: 2rem;
  background-color: var(--background);
}

.mainbody.active::after {
  height: calc(100vh - 52px);
  width: 100%;
  content: "";
  position: absolute;
  top: 52px;
  background: transparent
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.mainbody.modalActive,
.mainbody.active {
  height: calc(100vh - 52px);
  overflow: hidden;
}
